<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/user.css')}}">

    <title>Document</title>
</head>
<body>
<div id="top" class="background" >

<h3>図書一覧</h3>
<table border="1">
 <tr>
    <th style="color:green; text-align: left;" width="180">タイトル</th>
    <th style="color:green; text-align: left;"  width="180">著者</th>
    <th style="color:green; text-align: left;" width="180">カテゴリ</th>
    <th style="color:green; text-align: left;" width="180">出版社</th>
 </tr>

 {% for book in books%}
 <tr>
    <th style="color:none; text-align: left;" width="180">{{ book[0] }}</th>
    <th style="color:none; text-align: left;" width="180">{{ book[1] }}</th>
    <th style="color:none; text-align: left;" width="180">{{ book[2] }}</th>
    <th style="color:none; text-align: left;" width="180">{{ book[3] }}</th>
 </tr>
 {% endfor %}

</table>
<br>
<br>
<a href="{{url_for('back_booklist')}}">戻る</a>
</div>
</body>
</html>