<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/user.css')}}">
    <title>Document</title>
</head>
<body  style="background-color:rgb(36, 184, 198)">
<h3 style="text-align:center">ユーザ登録画面</h3>
{% if error != null %}
    <p style="color:red; text-align:center">{{error}}</p>
{% endif %}
<form action="{{url_for('register_exe')}}"method="post">
 <form2 class="example2">
    <table border="1">
    <tr>
        <td>ユーザー名</td>
        <td><input type="text"name="username"></td>
    </tr>
    <tr>
        <td>パスワード</td>
        <td><input type="password"name="password"></td>
    </tr>
    <table>
    <div style="text-align:center">
    <button type="submit">登録</button>
    </div>
</form>
</body>
</html>